[MASTER]

ignore=tests

[MESSAGE CONTROL]
disable = missing-module-docstring,
        missing-function-docstring,
        too-few-public-methods,
        consider-using-enumerate,
        too-many-arguments,
        unused-variable